@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
button,
textarea {
    font: 400 14px Lato, sans-serif;
    -webkit-font-smoothing: antialised;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

/* */

#sunny {
    background-color: #F3C683;
    color: #fff;
}

#partlyCloudy,
#cloudy {
    background-color: #B6C3C9;
    color: #fff;
}

#clear {
    background-color: #91C9C8;
    color: #fff;
}

#misty {
    background-color: #f0ffff;
    color: #333;
}

#rainy {
    background-color: #718FAB;
    color: #fff;
}

#snowy {
    background-color: #FFFAFA;
    color: #333;
}

#undefined {
    background-color: #ccc;
}

/* */
#mainContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    transition: background-color .4s;
}

#mainContainer.no {
    background-color: #070B34;
}

#mainContainer.yes {
    background-color: #80B1C6;
}

.mainTitle {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
}

.container {
    width: 450px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.weatherInfo {
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.weatherInfo svg {
    width: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 20px;
}

.weatherDescription {
    font-size: 16px;
    margin-bottom: 8px;
}

.cityName,
.dayTime {
    text-transform: uppercase;
    font-size: 10px;
}

.dayTime {
    margin-top: 12px;
}

.weatherTemperature {
    font-size: 50px;
    margin-top: 8px;
    font-weight: 300;
}

/* */

form {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(100% - 100px - 15px);
}

button {
    padding: 8px;
    border: 0;
    outline: 0;
    background-color: #333;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 8px;
}

/* */

.loaderContainer {
    text-align: center;
}

.loader {
    color: #333;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}